@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
}
.border
{
    border-radius: 25px;
    justify-content: center;
    margin: 50px 100px;
}
/************ Navigation Bar ************/

/* .cus-navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    background-image: image();
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
#MenuItems li:hover{
    background-color: rgb(149, 149, 197);
    transform: translateY(-5px); */
}
/* .try img{
    position: absolute;
    max-width: 5%;   
    transform: translateY(30px); 
} */


/************ Header ************/

p{
    color: #555
}
#MenuItems a
{
    color: #555
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 120px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 40px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 50px; /*top,bottom and left,right*/ 
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display: inline-block; /* inline-block allows to set a width and height on the element. */
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s; /*delay time when hovering the btn */
}
.header{
    background: linear-gradient(rgb(255, 255, 255),#d0a0f8);
}
.header .row{
    margin-top: 70px;
}
/* .header-buttons{
    align-items: center;
    transform: translateX(50px);
} */

/************ Categories ************/

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%; /*specifies the initial length of a flexible item.*/
    min-width: 250px; /* minimum width of the column */ 
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.rating {
    color: yellow;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: coral;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 :hover{
    transform: translateY(-5px); /* makes the products move up when hovering, very neat */
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/******* footer **********/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;    
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;    
}
ul{
    list-style-type: none; /** takes out the bullets from the lists **/
}
.li a{
    color:#8a8a8a;
}
.menu-icon{
    width: 28px;
    display: none;
    padding-top: 20px;
}
#download{
    color:#8a8a8a;
    size: 100%;
}

/* ------------------------------- ALL PRODUCTS PAGE ---------------------------- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}
.page-btn span::after{
    background:white;
}


/* ----------------------------- Request Page ---------------------- */
.col-req{
    flex-basis: 40%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    margin: 30px;
    transition: transform 0.2s;
    border: 1px solid;
    box-shadow: 5px 10px;
}
.col-req:hover{
    transform: translateY(-8px); /* makes the products move up when hovering, very neat */
}
.request-subtext{
    font-style: italic;
    float: left;
}
.request-title{
    font-weight:bolder;
    font-size: 20px;
    display: inline;
    padding: 10px;
    width: 33.33%;
}
.request-title::after {
  content: "";
  clear: both;
  display: table;
}

/* ------------------ media query for menu ------------ */

@media only screen and (max-width: 992px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    nav ul li a:hover{
        color: rgb(23, 26, 223);
        cursor: pointer;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media query for less than 600 screen size */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
